<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Hospital</key>
	<string>0</string>
	<key>Phone #</key>
	<string></string>
	<key>Email</key>
	<string></string>
	<key>Name</key>
	<string>&quot;Hi&quot;</string>
	<key>Role</key>
	<string>&quot;Nurse&quot;</string>
</dict>
</plist>
